body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
.startbutton{
    display: flex;
    justify-content: center;
}
#options {
 display: flex;
 justify-content: center;
}
.time{
display: flex;
color: purple;
}

h3{
    display: flex;
    justify-content: center;
}

button{
    color: white;
    border: solid 10px;
    background-color: purple;
    border-radius: 25px;
    font-size: 1em;
    padding: 10px 24px;
    width: 25%
}

button:hover{
    color: lightpink;
}
 

.hidden{
    display: none;
}

@media screen and (min-width: 768px) {
    header {
      flex-direction: row;
    }
    ul,
    li {
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .projects {
      flex-direction: row;
    }
  }
  
  /* Small smartphones  */
  @media screen and (min-width: 576px) {
    {
    
  }