body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.container{
display: flex;
}
.startbutton {
  justify-content: center;
}

#options {
  display: flex;
  justify-content: center;
}
.time {
  display: flex;
  justify-content: center;
  color: purple;
  background-color: lavender;
  border: .5em purple solid;
  border-radius: 20%;
}

h3 {
  display: flex;
  justify-content: center;
}

button {
    color: white;
    border: solid 10px;
    background-color: purple;
    border-radius: 25px;
    font-size: 1em;
    padding: 10px 24px;
    width: 25%;
  }